$color-background: #eee;
$color-main: #258fb8;
$color-gray01: #666;
$color-gray02: #999;
$color-gray03: #ccc;
$color-gray04: #ddd;
<<<<<<< 7d91e70b3fac383b1cb05e6fc4bb76f058f29c67
$color-gray05: #fff;
=======
$color-gray05: #fff;
$color-sidebar: #3D4349;
$opacity-sidebar: .3;
>>>>>>> Greyshade Theme
